<h1>Join</h1>
<%= form_for :user, url: join_path do |f| %>
  <%= f.email_field :email , placeholder: "Email" %>
  <%= f.password_field :password , placeholder: "Email" %>
  <%= f.submit "Join" %>
<% end %>
